body {
	color: #FFF;
	font-family: 'Roboto', sans-serif;
}

.container {
	width: 1250px;
	margin-left: auto;
	margin-right: auto;
}

/* Cabeçalho */
.me-profile {
	background: #333;
	margin-top: 30px;
	text-align: center;
}

.me-profile h1 {
	font-size: 2.6em;
	padding: 15px;
}

.me-profile h1 > a {
	text-decoration: none;
	color:  #B8B894;
	transition: 1s;
}

.me-profile h1 > a:hover {
	border-bottom: 2px solid #7E7E7E;
	transition: 1s;
	color: #7E7E7E;
}

.me-profile-social-links ul  {
	margin-right: 15px;
}
.me-profile-social-links ul li {
	display: inline-block;
	padding: 10px;
}

.me-profile-social-links ul a {
	color: #B8B894;
	font-size: 1.4em;
	text-decoration: none;
	transition: 1s;
}

.me-profile-social-links ul a:hover {
	color: #7E7E7E;
	border-bottom: 2px solid #7E7E7E;
	transition: 1s;
}

/* Meus projetos */

.me-projects {
    padding: 10px 0 100px 0;
	background: #333;
}

.me-projects h2 {
	font-size: 2em;
	padding-top: 10px;
	margin-left: 50px;
}

.me-projects ul li {
    padding-top: 20px;
	list-style: none;
	border-bottom: 1px solid #FFF;
	width: 600px;
}

.me-projects .project-title {
	font-size: 2em;
}

.me-projects .project-more{
	color: #FFF;
	font-size: 1.4em;
	margin: 40px 0 0 50px;
}

.me-projects a {
    text-decoration: none;
	color: #7E7E7E
}
.me-projects ul a {
    text-decoration: none;
	color: #7E7E7E;
}

.me-projects a:hover {
	border-bottom: 1px solid #7E7E7E;
}

.me-projects ul li  p {
	font-size: 1.4em;
	color: #FFF;
	margin-bottom: 10px;
}
