.me-posts {
    padding: 10px 0 100px 0;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	background: #333;
}

.me-post-article {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	background: #333;
}

.me-post-date {
	color: #B8B894;
	font-size: 1.3em;
}

.me-post-article h1 {
	font-size: 3em;
	padding: 5px;
	font-weight: bolder;
}

.me-post-article h2 {
	font-size: 2.5em;
	
}
.me-post-article p {
	text-align: left;
	font-size: 1.7em;
	font-weight: normal;
}

.me-post-article ul li {
	font-size: 1.5em;
}