<div class="container">
  <div class="user-details">
    <h3>Sobre</h3>
    <p> Olá, meu nome é Everton Lima, e eu sou desenvolvedor front end. Apaixonado por tudo relacionado a tecnologia e criação. Pra quem sempre quis ser cientista e criar coisas, eu vejo na programação a forma de eu poder ser isso. Com o desenvolvimento web eu posso criar coisas e impactar a vida de muita gente. A tecnologia veio para ajudar a vida das pessoas, e eu quero poder contribuir com isso. </p>
  </div>
  <hr>
</div>
