
<footer class="site-footer">
    <p>Criado por Everton Lima</p>

    <div class="icons-container">
        <ul class="icons-list">
           <li class="icon-item"><a href="https://github.com/evertonl1ma" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
           <li class="icon-item"><a href="http://codepen.io/Evertonl1ma/" target="_blank"><i class="fa fa-codepen fa-2x" aria-hidden="true"></i></a></li>
           <li class="icon-item"><a href="https://br.linkedin.com/in/evertonl1ma" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
</footer>

