<header class="header-container">
    <div class="nav-container clearfix">
    <div class="row">
       <h1 class="header-title">
          <a href="https://github.com/evertonl1ma" target="_blank" <span class="fa fa-github" aria-hidden="true"></span></a>
          <a href="/">@evertonl1ma</a>
       </h1>
       <nav class="nav-top">
        <span class="close">X</span>
        <ul class="nav-top-itens">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/projetos/">Projetos</a></li>
          <li><a href="/sobre/">Sobre</a></li>
        </ul>
       </nav>

      <div class="toggle-menu">
          <span></span>
          <span></span>
          <span></span>
      </div>

       
     </div>
    </div>
  </header>