
<div class="projects-container">
	  
		<div class="thumbnail-project">
			<div class="project">
				  <div class="content">
            <div class="title-project">
             <p>Sistema de grids</p>
            </div>
            
           <div class="descricao">
            <p>Um simples sistema de grids</p>
           </div>
        </div>
				<div class="description">
					<p class="nome-secao">Tecnologias usadas</p>
					<p class="descricao">HTML5, CSS3</p>
					<a href="https://github.com/evertonl1ma/Sistema-de-grids" target="_blank" class="btn-more">Ver projeto</a>
				</div>
        </div>
        </div>


		<div class="thumbnail-project">
			<div class="project">
				  <div class="content">
            <div class="title-project">
             <p>Editor markdown</p>
            </div>
            
           <div class="descricao">
            <p>Básico editor para markdown</p>
           </div>
        </div>
				<div class="description">
					<p class="nome-secao">Tecnologias usadas</p>
					<p class="descricao">Jade, CSS3, JS e Express</p>
					<a href="http://editor-markdown.herokuapp.com/" target="_blank" class="btn-more">Ver projeto</a>
				</div>
        </div>
        </div>

        
		<div class="thumbnail-project">
			<div class="project">
				  <div class="content">
            <div class="title-project">
             <p>Hangouts Dev</p>
            </div>
            
           <div class="descricao">
            <p>Reunião de hangouts de desenvolvimentos</p>
           </div>
        </div>
				<div class="description">
					<p class="nome-secao">Tecnologias usadas</p>
					<p class="descricao">HTML5, CSS3, Javascript</p>
					<a href="http://evertondelima.com.br/hangouts-dev/" target="_blank" class="btn-more">Ver projeto</a>
				</div>
        </div>
        </div>


    <div class="thumbnail-project">
      <div class="project">
          <div class="content">
            <div class="title-project">
             <p>Jornada Front end</p>
            </div>
            
           <div class="descricao">
            <p>Timeline de artigos e cursos para ser um front end</p>
           </div>
        </div>
        <div class="description">
          <p class="nome-secao">Tecnologias usadas</p>
          <p class="descricao">HTML5, CSS3</p>
          <a href="http://jornada-frontend.github.io/" target="_blank" class="btn-more">Ver projeto</a>
        </div>
        </div>
        </div>

    <div class="thumbnail-project">
      <div class="project">
          <div class="content">
            <div class="title-project">
             <p>BlackJack</p>
            </div>
            
           <div class="descricao">
            <p>Jogo de cartas blackjack</p>
           </div>
        </div>
        <div class="description">
          <p class="nome-secao">Tecnologias usadas</p>
          <p class="descricao">HTML5, CSS3, Javascript</p>
          <a href="http://evertondelima.com.br/blackjack/" target="_blank" class="btn-more">Ver projeto</a>
        </div>
        </div>
        </div>

    <div class="thumbnail-project">
      <div class="project">
          <div class="content">
            <div class="title-project">
             <p>Rain Sound</p>
            </div>
            
           <div class="descricao">
            <p>Site com som da chuva para relaxar</p>
           </div>
        </div>
        <div class="description">
          <p class="nome-secao">Tecnologias usadas</p>
          <p class="descricao">HTML5, CSS3, Javascript</p>
          <a href="http://evertondelima.com.br/rain-sound/" target="_blank" class="btn-more">Ver projeto</a>
        </div>
        </div>
        </div>

      <div class="thumbnail-project">
      <div class="project">
          <div class="content">
            <div class="title-project">
             <p>Meu site pessoal</p>
            </div>
            
           <div class="descricao">
            <p>Este site</p>
           </div>
        </div>
        <div class="description">
          <p class="nome-secao">Tecnologias usadas</p>
          <p class="descricao">HTML5, CSS3, JS, Jekyll</p>
          <a href="http://evertondelima.com.br/" target="_blank" class="btn-more">Ver projeto</a>
        </div>
        </div>
        </div>

      <div class="thumbnail-project">
       <div class="project">
          <div class="content">
            <div class="title-project">
             <p>Only CSS</p>
            </div>
            
           <div class="descricao">
            <p>Experimentos feitos apenas com CSS</p>
           </div>
        </div>
        <div class="description">
          <p class="nome-secao">Tecnologias usadas</p>
          <p class="descricao">HTML5, CSS3</p>
          <a href="https://github.com/evertonl1ma/only-css" target="_blank" class="btn-more">Ver projeto</a>
        </div>
        </div>
        </div>

      <div class="thumbnail-project">
       <div class="project">
          <div class="content">
            <div class="title-project">
             <p>Quiz FrontEnd</p>
            </div>
            
           <div class="descricao">
            <p>Um quiz sobre frontend</p>
           </div>
        </div>
        <div class="description">
          <p class="nome-secao">Tecnologias usadas</p>
          <p class="descricao">HTML5, CSS3 e JS</p>
          <a href="http://evertondelima.com.br/quiz-frontend/" target="_blank" class="btn-more">Ver projeto</a>
        </div>
        </div>
        </div>
</div>