<div class="container">

  <div class="user-details">
  
    <h3>Alguns dos meus projetos</h3>
  </div>
  
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/lavvi.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Lavvi</h5>
      <ul>
        <li>HTML5, PHP, CSS3 e JS</li>
      </ul>
      <p>Site da construtora Lavvi</p>
      <a class="project-link" href="http://www.lavvi.com.br/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/green-st.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Green Street</h5>
      <li>Sass, HTML5, JS e PHP</li>
      <p>Site sobre o empreendimento Green Street.</p>
      <a class="project-link" href="http://greenst.com.br/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/jardim-porangatu.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Jardim Porangatu</h5>
      <li>Sass, HTML5, JS e PHP</li>
      <p>Site do Jardim Porangatu.</p>
      <a class="project-link" href="http://jardimeuropaporangatu.com.br/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/mineracao-serveng.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Mineração Serveng</h5>
      <li>PHP, JS, Sass, HTML5</li>
      <p>Site da Mineradora Serveng.</p>
      <a class="project-link" href="http://mineracaoserveng.com.br/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/m2as.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">  
      <h5>M2A's Conexões</h5>     
      <li>PHP, JS, Sass, HTML5</li>
      <p>Site da M2A's Conexões.</p>
      <a class="project-link" href="https://www.m2asconexoes.com/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/terras-residencial.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Terras Altas Residencial</h5>
      <li>PHP, JS, Sass, HTML5</li>
      <p>Site da Terras altas residencial.</p>
      <a class="project-link" href="http://terrasaltasresidencial.com.br/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/solaris-boituva.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Solaris Boituva</h5>
      <li>HTML5, CSS3, JS e PHP</li>
      <p>Site do Solaris Boituva.</p> 
      <a class="project-link" href="http://solarisboituva.com.br/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>  

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/in-memorian.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>In Memorian</h5> 
      <li>Express, Angular, Sass, HTML5</li>
      <p>Uma pequena homenagem aos grandes nomes da ciência da computação.</p>
      <a class="project-link" href="https://in-memorian.herokuapp.com/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  
 
   <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/eft-paulista.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>EFT Paulista</h5>
      <ul>
        <li>HTML5, CSS3, JS e Codeigniter</li>
      </ul>
      <p>Site Elisete Tabet - Terapia emocional</p>
      <a class="project-link" href="http://eftpaulista.com.br/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/hangouts-dev.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Hangouts Dev</h5>
      <ul>
        <li>HTML5, CSS3 e JS</li>
      </ul>
      <p>Reunião de hangouts de desenvolvimentos.</p>
      <a class="project-link" href="http://evertondelima.com.br/hangouts-dev/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/serenata-de-amor.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Website Serenata de Amor</h5>
      <ul>
        <li>HTML5, Sass, Jekyll e jQuery</li>
      </ul>
      <p>Participação na criação do site do projeto Operação serenata de amor.</p>
      <a class="project-link" href="https://serenatadeamor.org/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/jogo-da-memoria.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Jogo da Memória</h5>
      <ul>
        <li>HTML5, CSS3 e JS</li>
      </ul>
      <p>Jogo da memória em homenagem aos grandes nomes da ciência da computação.</p>
      <a class="project-link" href="http://evertondelima.com.br/memory-game/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/editor-markdown.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Editor Markdown</h5>
      <ul>
        <li>Jade, CSS3, Express</li>
      </ul>
      <p>Básico editor para markdown.</p>
      <a class="project-link" href="http://editor-markdown.herokuapp.com/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/quiz-front-end.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Quiz Front End</h5>
      <ul>
        <li>HTML5, CSS3 e JS</li>
      </ul>
      <p>Um quiz sobre front end.</p>
      <a class="project-link" href="http://evertondelima.com.br/quiz-frontend/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>

  <!-- 
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/resume.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Resume</h5>
      <ul>
        <li>HTML5 e CSS3</li>
      </ul>
      <p>Um resumo interativo sobre mim.</p>
      <a class="project-link" href="http://evertondelima.com.br/resume/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
-->

  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/rain-sound.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Rain Sound</h5>
      <ul>
        <li>HTML5, CSS3 e JS</li>
      </ul>
      <p>Site com som da chuva para relaxar.</p>
      <a class="project-link" href="http://evertondelima.com.br/rain-sound/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  
  <!--
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/black-jack.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Black Jack</h5>
      <ul>
        <li>HTML5, CSS3 e JS</li>
      </ul>
      <p>Jogo de cartas blackjack.</p>
      <a class="project-link" href="http://evertondelima.com.br/blackjack/" target="_blank">Visite o projeto</a>
    </div>
  </div>

  <hr>
  -->

  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/only-css.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Only CSS</h5>
      <ul>
        <li>CSS3</li>
      </ul>
      <p>Experimentos feitos apenas com CSS.</p>
      <a class="project-link" href="https://github.com/evertonl1ma/only-css" target="_blank">Visite o projeto</a>
    </div>
  </div>
  </div>

 